# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/cov/*

# Composer
composer.phar

# Application assets
src/ebarbeito/JobeetBundle/Resources/public/images/*

# other
nbproject/
